.gifswinner {

    &--danceCar {
        position: absolute;
        left: 0;
        top: 258px;
    }

    &--hireMe {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    &--postIt {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}