@import '../../styles/1_settings/sizes';
@import '../../styles/2_tools/viewports';

.profileLayer {
    position: absolute;
    background: var(--color-light);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    &__title {
        font-weight: 700;
        margin: 0.5rem 0 2rem;
        color: var(--color-primary);

        @include resize-to(small) {
            font-size: 1.2rem;
        }
    
        @include resize-to(medium) {
            font-size: 1.6rem;
        }
    
        @include resize-to(large) {
            font-size: 1.8rem;
        }
    }

    &__text {
        color: var(--color-primary);
        font-weight: 700;
    }

    &__form {
       padding-left: 10%;
    }

    &__inputText {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    &__formRadioItem {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 1rem;
    }

    &__textPosition {
        color: var(--color-primary);
        font-size: 0.9rem;
        margin-left: 0.7rem;
        font-style: italic;
    }

    &__charImage {
        margin-left: 0.7rem;
        max-width: 2rem;
    }


    &__formLine {

        &.--radioLineManager {
            .profileLayer__charImage {
                &.--Manager {
                    animation-duration: 1s;
                    animation-iteration-count: infinite;
                    transform-origin: bottom;
                    animation-name: bounce-2;
                    animation-timing-function: ease;
                }
            }
        }

        &.--radioLineDeveloper {
            .profileLayer__charImage {
                &.--Developer {
                    animation-duration: 1s;
                    animation-iteration-count: infinite;
                    transform-origin: bottom;
                    animation-name: bounce-2;
                    animation-timing-function: ease;
                }
            }
        }

        &.--radioLineDesigner{
            .profileLayer__charImage {
                &.--Designer {
                    animation-duration: 1s;
                    animation-iteration-count: infinite;
                    transform-origin: bottom;
                    animation-name: bounce-2;
                    animation-timing-function: ease;
                }
            }
        }

        &.--radioLineQA_Tester {
            .profileLayer__charImage {
                &.--imgQA {
                    animation-duration: 1s;
                    animation-iteration-count: infinite;
                    transform-origin: bottom;
                    animation-name: bounce-2;
                    animation-timing-function: ease;
                }
            }
        }
    }

    @keyframes bounce-2 {
        0%   { transform: translateY(0); }
        30%  { transform: translateY(-20px); }
        50%  { transform: translateY(0); }
        100% { transform: translateY(0); }
    }
   
}
