@import '../../styles/1_settings/colors';

.bingoCard {
    display: flex;
    flex-direction: row;
    padding: 0 0 0 1px;
    max-width: 800px;
    width: 100%;
    flex-wrap: wrap;

    &__cell {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0 1px 1px 0;
        width: calc(20% - 1px);
        height: 50px;
        background: #61dafb;
    }

    &__text {
        background: #9ae8fd;
    }
  }
  