@import '../../styles/1_settings/colors';
@import '../../styles/1_settings/sizes';
@import '../../styles/2_tools/viewports';

.bingoCard {
    margin: 0 auto;
    margin-top: 3rem;

    @include resize-to(small) {
        width: 90%;
    }

    @include resize-to(medium) {
        width: 80%;
    }

    @include resize-to(large) {
        width: 550px;
    }


    &__inner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        padding: 1px 0 0 1px;
        box-shadow: 0 25.6px 57.6px 0 rgba(0,0,0,.22), 0 4.8px 14.4px 0 rgba(0,0,0,.18);
    }

    &__cell {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0 1px 1px 0;
        width: calc(20% - 1px);
        background-color: $color-primary;
        padding: 10px 0;
        cursor: pointer;
        -webkit-transition: background-color 0.5s ease-out;
        -moz-transition: background-color 0.5s ease-out;
        -o-transition: background-color 0.5s ease-out;
        transition: background-color 0.5s ease-out;

        &.active {
            background-color: $color-dark;
        }

        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                background-color: $color-darker;
                -webkit-transition: background-color 0.5s ease-out;
                -moz-transition: background-color 0.5s ease-out;
                -o-transition: background-color 0.5s ease-out;
                transition: background-color 0.5s ease-out;
            }
        }
    }

    &__text {
        color: $color-white;
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
        margin: 0 5px;
        font-size: 0.8rem;

        @include resize-to(medium) {
            font-size: 1rem;
        }
        @include resize-to(large) {
            font-size: 1.2rem;
        }
    }
  }
  



  