@import '../../styles/1_settings/colors';

.bingoCard {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    width: 100%;
    flex-wrap: wrap;

    &__cell {
        display: flex;
        flex-direction: row;
        width: 20%;
        height: 50px;
        background: #61dafb;
    }
  }
  