body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-white);
  color: var(--color-black);
}


.boardContainer {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  width: 100%;
  flex-wrap: wrap;
}

.boardContainer__cell {
  display: flex;
  flex-direction: row;
  width: 20%;
  height: 50px;
  background: #61dafb;
}