.refreshPageControl {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;

    &.--winnersPage {
        margin: 0 auto;
        
        .button {
            position: absolute;
            z-index: 99;
        }
    }
}