:root {
    /* Custon Props with "--" */
    --color-primary: #AA77FF;
    --color-secondary-xlight: #C9EEFF;
    --color-secondary-light: #97DEFF;
    --color-secondary: #62CDFF;
    --color-black: #333;
    --color-white: #fff;
}





